/* Work Sans font family from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');


/* shared styles */
* {
    font-family: 'Work Sans', sans-serif;
}

body {
    /* margin: auto 240px; */
}

.section-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.btn-primary {
    border-radius: 3rem;
    padding: 1.25rem 2.5rem;
    color: #FFF;
    background-color: #FF42A5;
    border: 0;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 2rem;
}



/* nav section styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 240px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-title {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-title img {
    width: 86.041px;
    height: 40px;
    flex-shrink: 0;
}

nav .nav-title h1 {
    color: #FF42A5;
}

.nav-title h1 .text-amer {
    color: #0B0223;
}

nav .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.nav-links li {
    list-style: none;
    font-size: 1.125rem;
    font-weight: 500;
    color: #3C354F;
}

nav a {
    text-decoration: none;
    color: #3C354F;
}

nav .follow-buttons {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 1rem 1.5rem;
    gap: 1rem;
}

/* banner section styles */
.banner {
    display: flex;
    justify-content: space-between;
    gap: 68px;
    margin: 0 100px;
}

.banner-content {
    padding: 148px auto;
}

.banner-content .text-goat {
    font-size: 6rem;
    color: #FF42A5;
    font-weight: 800;
}


.banner-content .text-play {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
}

.banner-content p {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.banner-button {
    display: flex;
    gap: 1.5rem;
}

.banner-img {
    margin-top: 19px;
}

.banner-img img {
    width: 100%;
    max-width: 700px;
}





/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {

    nav,
    .nav-links,
    .banner {
        flex-direction: column;
    }

    nav {
        padding: 15px 30px;
    }

    .banner {
        margin: auto;
    }

    .banner-content {
        padding: 20px;
    }

    .banner-img, .banner-img img {
        width: 100%;
    }
}

/* tablet devices */
@media screen and (min-width: 576px) and (max-width: 992px) {
    nav, .banner {
        flex-direction: column;
    }

    .banner-content {
        padding: 35px;
        margin: 0 auto;
    }
}